@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@200&family=Neonderthaw&family=Satisfy&family=Tourney:ital,wght@1,100&family=Vibur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Sacramento&family=Yellowtail&display=swap');


:root {
  --cor-de-fundo: #F5F5F5;
  --cor-de-link: #000;
  --cor-fundo-azul: #EAF2FD;
  --cor-titulo: #464646;
  --cor-marca: #4169E1;
  --cor-scrollbar-bg: #CFD8DC;
  --cor-thumb-scrollbar-bg: #90A4AE;
}


body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  line-height: 1;
  background-image: url('../image/oliver-sjostrom-EztqREO1cag-unsplash16x9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid yellow;
  height: 100vh;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

main {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, .21);
}

.container-logo {
  font-family: yellowtail;
  padding: 1rem;
  margin-bottom: .5rem;
  color: aquamarine;
}

.container-logo h1 {
  margin: 0;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 1.5rem);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 80%;
}

.input {
  margin: .5rem;
  padding: .5rem;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  font-size: 1rem;
  color: #FFF;
}

.olho {
  cursor: pointer;
  left: 255px;
  top: 170px;
  position: absolute;
  width: 20px;
}

.button-login {
  border-radius: 30px;
  border: 2px solid #000;
  margin: .5rem;
  padding: .5rem;
  text-transform: uppercase;
  background-color: #999913;
  color: #FFF;
}

.div-lembrar-senha {
  width: 80%;
  margin:  0 1rem;
  text-align: center;
  vertical-align: auto;
}

.div-lembrar-senha label{
  padding-left: .5rem;
  color: #FFF;
}

.div-esqueci-senha {
  width: 80%;
  margin: 1rem;
  text-align: center;
}

.esqueci-senha {
  color: #FFF;
}

.fieldset {
  width: 80%;
}

fieldset {
  
  border: none;
  border-top: 2px solid #fff;
  margin-bottom: -5px;
}

legend {
  padding: .2rem 0.5em;
  color: #fff;
  font-size: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.login-alternativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 1.5rem)
}

.login-alternativo p {
  margin: 0;
  margin-bottom: 1rem;
}

.login-google {
  width: 80%;
  border-radius: 30px;
  border: 2px solid #FFF;
  margin: .2rem;
  padding: .5rem;
  background: url('https://api.iconify.design/logos/google-icon.svg') no-repeat  25px center / contain;
  background-size: 25px;
  color: #FFF;
}

.login-github {
  width: 80%;
  border-radius: 30px;
  border: 2px solid #FFF;
  margin: .2rem;
  padding: .5rem;
  background: url('https://api.iconify.design/akar-icons/github-fill.svg') no-repeat 25px center / contain;
  background-size: 25px;
  color: #FFF;
}

.login-facebook {
  width: 80%;
  border-radius: 30px;
  border: 2px solid #FFF;
  margin: .2rem;
  padding: .5rem;
  background: url('https://api.iconify.design/logos/facebook.svg') no-repeat 25px center / contain;
  background-size: 25px;
  color: #FFF;
}

.cadastrar {
  margin-top: .8rem;
  padding: .5rem;
}

.link-cadastro {
  color: #FFF;
}

.rodape {
  color: #fff;
  text-align: center;
  margin-top: 4.8rem;
  font-size: .8em;
}

.rodape a {
  color: #fff;
  font-style: italic;
  
}


/* ---- */

.div-floating {
  position: relative;
  display: flex;
  flex-direction: column;
}

input:focus ~ .form__input--floating-label--email {
  top: 11px;
  left: 25px;
  bottom: 2px;
  font-size: 9px;
  opacity: 1;
}

input:focus ~ .form__input--floating-label--senha {
  top: 11px;
  left: 23px;
  bottom: 2px;
  font-size: 10px;
  opacity: 1;
}

input:not(:focus) ~ .form__input--floating-label--email { 
  top: 8px;
  left: 25px;
  bottom: 2px;
  font-size: 10px;
  opacity: 1;
}

input:not(:focus) ~ .form__input--floating-label--senha { 
  top: 8px;
  left: 23px;
  bottom: 2px;
  font-size: 10px;
  opacity: 1;
}

.form__input--floating-label--email {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 17px;
  transition: 0.2s ease all;
  color: #FFF;
}

.form__input--floating-label--senha {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 17px;
  transition: 0.2s ease all;
  color: #FFF;
}

input:focus {
  outline: 0;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transform: inherit;
}


input:focus::-webkit-input-placeholder {
  opacity: 1;
  padding-left: 5px;
  color: #fdfdfd;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}