.container-logo {
  height: 380px;
}

.input-email {
  padding-right: 15px;
}

.input-senha {
  padding-right: 35px;
}

.fieldset {
  width: 80%;
}

.login-google,
.login-github,
.login-facebook {
  background-position: 15px;
  background-size: 20px;
}

@media screen  and  (max-width: 629px) {
  .chamada p {
    display: none;
  }
}