

.container-fundo {
  width: 80%;
  padding: 1rem 0;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container-logo {
  width: 40%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #fff;
}

.area-chamada {
  display: none;
}

.container-login {
  width: 100%;
}

.fieldset {
  width: 80%;
}
